* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, sans-serif;
}

window#waybar {
    background-color: rgba(24, 24, 24, 0.95);
    color: #d8d8d8;
    transition-property: background-color;
    transition-duration: .5s;
}

/*
#workspaces {
    font-size: 17px;
}
*/

#workspaces button {
    color: #585858;
    padding: 5px;
}

/* #workspaces button:hover {
    background: #f8f8f8;
} */

#workspaces button.focused {
    color: #d8d8d8;
    background-color: #484848;
}

/*
#clock {
    font-size: 17px;
}
*/

#battery,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 10px 0 10px;
    color: #d8d8d8;
    font-size: 14px;
}

#idle_inhibitor {
    color: #585858;
}

#idle_inhibitor.activated {
    color: #f7ca88;
}

#custom-power {
    color: #ab4642;
    padding: 0 10px 0 10px;
    font-size: 14px;
}
